body{
    background-color: #242424;
    font-family: JapaneseFont;
    font-size: medium;
}
h1{
    color: rgb(184, 0, 37);
    padding-bottom: -20px;
}
h2{
    padding-top: -50px;
}
.Blink{
    animation: blinker 0.1s linear infinite;
    color: greenyellow;
}
@keyframes blinker{
    50% {
        opacity: 0.75;
    }
}
.Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: JapaneseFont;
    src: url(MegaMan.ttf);
  }
  